body {
  background-image: url('../img/bg.jpg');
  font-family: "Segoe UI";
  font-size: 14px;
  color: $font-color;
}

footer {
  height: 225px;
  background: url('../img/footer-bg.png');
}

a {
  color: $active-color;
}