<footer id="footer">
  <div class="container footer">
    <ul class="social-networks">
      <li><a class="social-item social-sprite sprite-icon-fb" href="#"></a></li>
      <li><a class="social-item social-sprite sprite-icon-g" href="#"></a></li>
      <li><a class="social-item social-sprite sprite-icon-tw" href="#"></a></li>
      <li><a class="social-item social-sprite sprite-icon-mail" href="#"></a></li>
      <li><a class="social-item social-sprite sprite-icon-rss" href="#"></a></li>
    </ul>
    <ul class="footer-nav">
      <li><a class="footer-nav-item" href="#">Главная</a></li>
      <li><a class="footer-nav-item" href="#">Каталог</a></li>
      <li><a class="footer-nav-item" href="#">Акции</a></li>
      <li><a class="footer-nav-item" href="#">Оплата и доставка</a></li>
      <li><a class="footer-nav-item" href="#">Портреты на заказ</a></li>
      <li><a class="footer-nav-item" href="#">Контакты</a></li>
    </ul>
  </div>
</footer>