<img class="leaves" src="img/leaves.png">
<header class="header">
  <div class="container">
    <div class="logo">
      <img src="img/logo.png">
    </div>
    <div class="header-info">
      <div class="phones">
        <p>(044) 123-45-67</p>
        <p>(096) 987-65-43</p>
      </div>
      <div class="cart">
        <p><b>Ваша корзина</b></p>
        <a href="">14 товаров - 3400 грн.</a>
        <a class="header-checkout" href="">Оформить заказ</a>
      </div>
      <img class="donkey" src="img/donkey.png">
    </div>
  </div>
  <nav>
    <ul class="top-nav">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Акции</a></li>
      <li><a href="#">Оплата и доставка</a></li>
      <li><a href="#">Портреты на заказ</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
  </nav>
</header>