<aside class="left-sidebar">
  <section class="sidebar-item">
    <img src="img/side-menu-bg.png" class="sidebar-item-bg">
    <ul class="side-menu">
      <li><a href="#" class="side-menu-item">Живопись</a></li>
      <li><a href="#" class="side-menu-item">Магниты</a></li>
      <li><a href="#" class="side-menu-item">Кожа</a></li>
      <li><a href="#" class="side-menu-item">Обложки</a></li>
      <li><a href="#" class="side-menu-item">Купюрницы</a></li>
      <li><a href="#" class="side-menu-item">Блокноты</a></li>
      <li><a href="#" class="side-menu-item">Сумки</a></li>
      <li><a href="#" class="side-menu-item">Браслеты</a></li>
      <li><a href="#" class="side-menu-item">Декупаж</a></li>
    </ul>
  </section>
  <section class="sidebar-item">
    <img src="img/side-menu-bg.png" class="sidebar-item-bg">
    <div class="filter-list">
      <div class="filter-class">
        <h3 class="filter-heading">Размер</h3>
        <div class="filter filter-selectors">
          
        </div>
      </div>
      <div class="filter-class">
        <h3 class="filter-heading">Цена</h3>
        <div class="filter filter-range">
          
        </div>
      </div>
    </div>
  </section>
</aside>