<div class="main-content">
  <nav>
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a class="active" href="#">Живопись</a></li>
    </ul>
  </nav>
  <div class="subcats cards">
    <div class="subcat card-item block">
      <img class="block-bg" src="img/border-bg-sm.png" alt="">
      <div class="card-content">
        <a class="subcat-header" href="#">Категория</a>
        <img class="subcat-img" src="img/subcat-img.jpg" alt="">
      </div>
    </div>
    <div class="subcat card-item block">
      <img class="block-bg" src="img/border-bg-sm.png" alt="">
      <div class="card-content">
        <a class="subcat-header" href="#">Категория</a>
        <img class="subcat-img" src="img/subcat-img.jpg" alt="">
      </div>
    </div>
    <div class="subcat card-item block">
      <img class="block-bg" src="img/border-bg-sm.png" alt="">
      <div class="card-content">
        <a class="subcat-header" href="#">Категория</a>
        <img class="subcat-img" src="img/subcat-img.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="control-bar block">
    <img class="block-bg" src="img/horizontal-bg.png" alt="">
    <div class="view btn-group">
      <span>Вид</span>
      <button class="btn-view" id="list-view" type="button">
        <i class="fa fa-th-list"></i>
      </button>
      <button class="btn-view" id="grid-view" type="button">
        <i class="fa fa-th"></i>
      </button>
    </div>
    <div class="limit-wrapper">
      <label for="input-limit">На странице</label>
      <select name="" id="input-limit">
        <option value="#">3</option>
        <option value="#">6</option>
        <option value="#" selected="selected">9</option>
      </select>
    </div>
    <div class="sort-wrapper">
      <label for="input-sort">Сортировка</label>
      <select name="" id="input-sort">
        <option value="#" selected="selected">По умолчанию</option>
        <option value="#">Имя (А - Я)</option>
        <option value="#">Имя (Я - А)</option>
        <option value="#">Цена (по-убыванию)</option>
        <option value="#">Цена (по-возрастанию)</option>
        <option value="#">Оценка (по-убыванию)</option>
        <option value="#">Оценка (по-возрастанию)</option>
      </select>
    </div>
  </div>
  <section class="main-grid">
    //= grids/product-grid.html
  </section>
</div>