// Susy settings
$susy: (
  columns: 12,
  gutters: 1/4,
  gutter-position: inside,
);

// Font sizes
$smaller: 0.857em;
$normal: 1em;
$bigger: 1.286em;

// Colors
$green: #7ba545;
$active-color: #563916;
$font-color: #6d624e;
$light-color: #827561;
$dark-color: #2d290f;
$bg-color: #f4f0df;
$border-color: #babd8a;