.container {
  @include container(1200px);
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
}
.btn-primary {
  width: 135px;
  // height: 40px;
  display: block;
  padding: 10px 0;
  color: #fff;
  background-color: #505050;
  background-image: linear-gradient(to top, #69992c 0%, #91c352 100%);
  border: 1px solid #61932b;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28), inset 0 2px 4px rgba(255, 255, 255, 0.35), inset 0 0 27px rgba(0, 0, 0, 0.1);
  text-align: center;

  &:hover {
    background-image: linear-gradient(to top, #75ac2f 0%, #96cd50 100%);
    border: 1px solid #6ca62c;
  }

  &:active {
    background-image: linear-gradient(to top, #77a340 0%, #588223 100%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.51), inset 0 2px 4px rgba(0, 0, 0, 0.23);
  } 
}
.btn-ico {
  width: 0;
  height: 0;
  padding: 0;
  border: none;

  &:before {
    display: block;
    content: '';
  }
}
.btn-clean {
  background: none;
  border: none;
}

/////////////////////
// Header
/////////////////////
.leaves {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.logo {
  margin-top: 40px;
  text-align: center;
  @include span(6 of 12);
}

.header-info {
  position: relative;
  margin-top: 40px;
  font-family: "Segoe UI";
  @include span(6 of 12);

  .phones {
    padding-left: 40px;
    margin-bottom: 17px;
    color: $active-color;
    font-size: $bigger;
    z-index: 5;

    * {
      margin: 0;
    }
  }
}
.donkey {
  position: absolute;
  bottom: -20px;
}
.cart {
  position: relative;
  padding-left: 40px;
  color: $active-color;
  font-size: $smaller;
  z-index: 5;

  &:before {
    width: 26px;
    height: 24px;
    position: absolute;
    top: 20px;
    left: 7px;
    display: inline-block;
    background-image: url('../img/cart.png');
    content: '';
  }
  
  * {
    margin: 0;
  }
  .header-checkout {
    margin-top: 5px;
    margin-bottom: 9px;
    display: block;
    color: $green;
    font-size: 1.1em;
  }
}
.top-nav {
  margin-top: 7px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  text-align: center;
  background-image: url('../img/nav-bg.png');
  background-size: cover;
  font-size: $bigger;
  li {
    position: relative;

    &:hover:after {
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: 0;
      display: block;
      content: '';
      background-color: $green;
    }

    &:last-child a {
      border-right: 1px solid #babd8a;
    }
  }
  a {
    height: 40px;
    display: inline-block;
    box-sizing: border-box;
    padding: 25px;
    padding-top: 6px;
    padding-bottom: 10px;
    color: $active-color;
    font-weight: 400;
    text-decoration: none;
    border-left: 1px solid #babd8a;

    &:hover {
      font-weight: 600;
    }
  }
}


/////////////////////
// Left Sidebar
/////////////////////
.left-sidebar {
  @include span(3 of 14);
}
.sidebar-item {
  position: relative;
  margin-bottom: 15px;
  padding: 5px 15px;

  .sidebar-item-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
.side-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  
  li:not(:last-child) {
    .side-menu-item {
      border-bottom: 1px solid #babd8a;
    }
  }
  .side-menu-item {
    padding: 6px 0;
    display: block;
    color: $font-color;
    font-size: $bigger;
    text-decoration: none;

    &:hover {
      color: $active-color;
    }
  }
}
.filter-list {
  .filter-class {
    padding: 10px 0;
  }
  .filter-class:not(:last-child) {
    border-bottom: 1px solid #babd8a;
  }

  .filter-heading {
    margin: 0;
    color: $active-color;
    font-size: $bigger;
    font-weight: 400;
    text-transform: uppercase;
  }
}

/////////////////////
// Content
/////////////////////
.main-content {
  @include span(11 of 14);
}

.breadcrumbs {
  margin: 0;
  margin-left: 15px;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    
    &:first-child:before {
      width: 13px;
      height: 13px;
      margin-right: 5px;
      display: inline-block;
      background-image: url(../img/home-ico.png);
      content: '';
    }

    &:not(:last-child):after {
      margin: 0 10px;
      display: inline-block;
      color: $font-color;
      content: '\203a';
    }
  }

  a {
    color: $font-color;
    text-decoration: none;

    &:hover,
    &.active {
      color: $active-color;
    }
  }
}

.block {
  position: relative;
  margin: 8px;
  background-color: $bg-color;

  .block-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  > * {
    position: relative;
  }
}
.text-block {
  padding: 5px 15px;
}

.full-width-grid {
  .card-item {
    max-width: 370px;
    min-width: 300px;
  }
}

.cat-grid {
  .card-item {
    .card-desc {
      position: absolute;
      // width: 97.5%;
      height: 310px;
      // top: 5px;
      // left: 5px;
      padding: 30px;
      padding-top: 70px;
      box-sizing: border-box;
      opacity: 0;
      color: #fff;
      background-color: rgba(0, 0, 0, .5);
    }

    .card-header {
      width: 98%;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 15px 0;
      display: inline-block;
      background-color: $bg-color;
      font-size: $bigger;
      font-weight: 600;
      color: $active-color;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      
      &:after {
        position: absolute;
        width: 1px;
        height: 40px;
        right: 0;
        top: 5px;
        display: none;
        opacity: 0.3;
        background-color: #727635;
        content: '';
      }
    }

    .card-button-wrapper {
      width: 50%;
      display: block;
      float: right;
      padding: 5px 0;
      margin-bottom: 0;

      .btn {
        margin: 0 auto;
      }
    }
  }
}
.cards,
.products {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}
.products.list-view {
  display: block;

  .card-item {
    width: 100%;
    min-width: 100%;
    display: block;
  }

  .card-content {
    display: flex;
  }
  
  .img-container {
    max-width: 300px;
    min-width: 250px;
    padding: 5px 0;

    .brash-border-top {
      display: block;
    }
  }
  .card-desc {
    max-width: 480px;
    position: relative;
    padding: 0 18px;
  }
  .prod-link {
    display: block;
  }
  .card-header {
    position: static;
    margin-top: 15px;
    margin-bottom: -12px;
    display: block;
  }
  .price {
    font-size: $bigger;
  }
  .card-button-wrapper {
    width: 180px;
    position: relative;
    padding-top: 22px;
    margin-bottom: 0;

    &:before {
      width: 1px;
      height: 170px;
      position: absolute;
      top: 45px;
      left: 0;
      display: inline-block;
      background: $border-color;
      content: '';
    }
  }

}
.card-item {
  max-width: 300px;
  min-width: 250px;
  margin: 8px;
  display: flex;
  flex: 0.5;

  .card-content {
    width: 100%;
    position: relative;
    margin: 5px;
    z-index: 5;
  }
  
  .img-container {
    position: relative;
    
    .brash-border-top {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      transform: rotate(180deg);
    }
    .brash-border {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .card-desc {
    padding: 0 10px;
  }
  .prod-link {
    position: absolute;
    bottom: 15px;
    left: 18px;
    display: none; 
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  .card-header {
    display: none;
    font-size: $bigger;
    font-weight: 600;
    color: $active-color;
    text-transform: uppercase;
  }
  .price {
    color: $active-color;
    font-weight: 700;
    text-align: center;
  }

  .card-button-wrapper {
    margin-bottom: 10px;
    .btn {
      margin: 0 auto;
    }
  }

  .card-img {
    width: 100%;
  }
}

.subcat {
  height: 100px;
  position: relative;
  .subcat-header {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    font-size: $bigger;
    line-height: 90px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.2);
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    z-index: 5;

    &:hover {
      background-color: rgba(0,0,0,0.5);
    }
  }

  .subcat-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}

.control-bar {
  height: 30px;
  margin: 8px;
  color: $active-color;
  text-transform: uppercase;
}
.view {
  position: relative;
  display: inline-block;

  & > * {
    display: block;
    float: left;
  }

  & > span {
    margin: 0 10px;
    line-height: 30px;
  }
}
.btn-view {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  border-left: 1px solid #babd8a;

  &:last-child {
    border-right: 1px solid #babd8a;
  }
}
.sort-wrapper,
.limit-wrapper {
  position: relative;
  padding: 3px;
  float: right;

  label {
    margin-left: 30px;
    margin-right: 15px;
  }
}

/////////////////////
// Cart
/////////////////////
.cart-details {
  @include span(10 of 14);
}
.order-info {
  @include span(4 of 14);
}
.cart-header {
  margin: 0;
  padding: 20px 15px;
  color: $active-color;
  font-size: $bigger;
  font-weight: 600;
  text-transform: uppercase;
}
.back-btn {
  position: absolute;
  top: 25px;
  right: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.prod-list {
  margin: 0 15px;
  padding: 0;
  list-style: none;
}
.prod-list-item {
  display: flex;
  position: relative;
  padding: 15px 0;  
  border-bottom: 1px solid $border-color;

  &:first-child {
    border-top: 1px solid $border-color;
  }

  img {
    display: inline-block;
  }

  .btn-delete {
    position: absolute;
    top: 15px;
    right: 20px;

    &:before {
      width: 21px;
      height: 21px;
      background: url(../img/ico-delete.png);
    }
  }

  .img-container {
    position: relative;
    
    .brash-border-top {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(180deg);
    }
    .brash-border {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
.prod-desc {
  display: flex;
  padding: 20px 0;
  padding-left: 15px;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  a {
    font-size: $bigger;
    font-weight: 600;
    text-decoration: none;
  }
  
  .price-wrap {
    display: inline-block;
    float: left;
    margin-right: 50px;
  }
  .price {
    color: $active-color;
    font-weight: 600;
  }
}
.quant-group {
  display: inline-block;
  margin-top: .8em;
  input[type="text"] {
    text-align: center;
    width: 30px;
  }
}
.gen-price {
  display: flex;
  padding-left: 30px;
  padding-right: 15px;
  justify-content: center;
  align-items: center;
  border-left: 1px solid $border-color;

  .price {
    color: $active-color;
    font-weight: 600;
  }
}
.cart-footer {
  padding: 15px;
  overflow: auto;
  .back-btn {
    bottom: 25px;
    left: 15px;
  }

  .btn-primary {
    float: right;
    margin-right: 30px;
  }
}
.order-info {
  .block {
    padding-bottom: 15px;
  }
  p {
    position: relative;
    margin: 0 15px;
    padding: 15px 0;
    border-bottom: 1px solid $border-color;

    span {
      position: absolute;
      right: 0;
      top: 15px;

    }
  }

  .gen-price {
    display: block;
    margin: 0 15px;
    padding: 15px 0;
    border-left: none;
    color: $green;

    .price {
      color: $green;
      font-size: $bigger;
    }
  }

  .btn {
    margin: 0 auto;
    margin-top: 15px;
  }
}

.prod-module {
  @include span(1 of 1);
  padding: 0 .71429%;

  .prod-list {
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  .prod-item {
    @include span(1 of 5);
    padding: 0 1%;
    list-style: none;

    img {
      width: 100%;
    }
  }
}
/////////////////////
// Footer
/////////////////////
.footer {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.social-networks {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;

  .social-item {
    margin: 8px;
  }
}
.social-sprite {
  background-image: url('../img/icons/spritesheet.png');
  background-repeat: no-repeat;
  display: block;

  &.sprite-icon-fb {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
  }

  &.sprite-icon-g {
    width: 30px;
    height: 30px;
    background-position: -45px -5px;
  }

  &.sprite-icon-mail {
    width: 29px;
    height: 30px;
    background-position: -5px -45px;
  }

  &.sprite-icon-rss {
    width: 31px;
    height: 30px;
    background-position: -44px -45px;
  }

  &.sprite-icon-tw {
    width: 30px;
    height: 31px;
    background-position: -85px -5px;
  }
}

.footer-nav {
  padding: 0;
  margin-top: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  
  li:not(:last-child) .footer-nav-item {
    border-right: 1px solid $active-color;;
  }
  .footer-nav-item {
    padding-left: 10px;
    padding-right: 10px;
    font-size: $smaller;
    color: $active-color;
    text-decoration: none;
    text-transform: uppercase;
  }
}