<ul class="cards full-width-grid cat-grid">
  <li class="card-item block">
    <img class="block-bg" src="img/border-bg-sm.png" alt="">
    <div class="card-content">
      <div class="card-desc">
        <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.</p>
      </div>
      <img class="card-img" src="img/card-img1.jpg" width="360" height="310">
      <h3 class="card-header">Живопись</h3>
      <div class="card-button-wrapper">
        <a class="btn btn-primary" href="">Просмотреть</a>
      </div>
    </div>
  </li>
  <li class="card-item block">
    <img class="block-bg" src="img/border-bg-sm.png" alt="">
    <div class="card-content">
      <div class="card-desc">
        <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.</p>
      </div>
      <img class="card-img" src="img/card-img2.jpg" width="360" height="310">
      <h3 class="card-header">Магниты</h3>
      <div class="card-button-wrapper">
        <a class="btn btn-primary" href="">Просмотреть</a>
      </div>
    </div>
  </li>
  <li class="card-item block">
    <img class="block-bg" src="img/border-bg-sm.png" alt="">
    <div class="card-content">
      <div class="card-desc">
        <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.</p>
      </div>
      <img class="card-img" src="img/card-img3.jpg" width="360" height="310">
      <h3 class="card-header">Кожа</h3>
      <div class="card-button-wrapper">
        <a class="btn btn-primary" href="">Просмотреть</a>
      </div>
    </div>
  </li>
  <li class="card-item block">
    <img class="block-bg" src="img/border-bg-sm.png" alt="">
    <div class="card-content">
      <div class="card-desc">
        <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.</p>
      </div>
      <img class="card-img" src="img/card-img1.jpg" width="360" height="310">
      <h3 class="card-header">Обложки</h3>
      <div class="card-button-wrapper">
        <a class="btn btn-primary" href="">Просмотреть</a>
      </div>
    </div>
  </li>
  <li class="card-item block">
    <img class="block-bg" src="img/border-bg-sm.png" alt="">
    <div class="card-content">
      <div class="card-desc">
        <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.</p>
      </div>
      <img class="card-img" src="img/card-img2.jpg" width="360" height="310">
      <h3 class="card-header">Купюрницы</h3>
      <div class="card-button-wrapper">
        <a class="btn btn-primary" href="">Просмотреть</a>
      </div>
    </div>
  </li>
  <li class="card-item block">
    <img class="block-bg" src="img/border-bg-sm.png" alt="">
    <div class="card-content">
      <div class="card-desc">
        <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.</p>
      </div>
      <img class="card-img" src="img/card-img3.jpg" width="360" height="310">
      <h3 class="card-header">Блокноты</h3>
      <div class="card-button-wrapper">
        <a class="btn btn-primary" href="">Просмотреть</a>
      </div>
    </div>
  </li>
  <li class="card-item block">
    <img class="block-bg" src="img/border-bg-sm.png" alt="">
    <div class="card-content">
      <div class="card-desc">
        <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.</p>
      </div>
      <img class="card-img" src="img/card-img1.jpg" width="360" height="310">
      <h3 class="card-header">Сумки</h3>
      <div class="card-button-wrapper">
        <a class="btn btn-primary" href="">Просмотреть</a>
      </div>
    </div>
  </li>
  <li class="card-item block">
    <img class="block-bg" src="img/border-bg-sm.png" alt="">
    <div class="card-content">
      <div class="card-desc">
        <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.</p>
      </div>
      <img class="card-img" src="img/card-img2.jpg" width="360" height="310">
      <h3 class="card-header">Браслеты</h3>
      <div class="card-button-wrapper">
        <a class="btn btn-primary" href="">Просмотреть</a>
      </div>
    </div>
  </li>
  <li class="card-item block">
    <img class="block-bg" src="img/border-bg-sm.png" alt="">
    <div class="card-content">
      <div class="card-desc">
        <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.</p>
      </div>
      <img class="card-img" src="img/card-img3.jpg" width="360" height="310">
      <h3 class="card-header">Декупаж</h3>
      <div class="card-button-wrapper">
        <a class="btn btn-primary" href="">Просмотреть</a>
      </div>
    </div>
  </li>
</ul>