<ul class="products">
  <li class="card-item block">
    <img class="block-bg" src="img/border-bg-sm.png" alt="">
    <div class="card-content">
      <div class="img-container">
        <img class="brash-border-top" src="img/brash-border.png">
        <img class="card-img" src="img/card-img1.jpg" width="360" height="220">
        <img class="brash-border" src="img/brash-border.png">
      </div>
      <div class="card-desc">
        <h3 class="card-header">Магнитик из дерева</h3>
        <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.
        Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.
        </p>
        <a class="prod-link" href="#">Отзывы: 0</a>
      </div>
      <div class="card-button-wrapper">
        <p class="price">256 грн.</p>
        <a class="btn btn-primary" href="">Купить</a>
        <a class="prod-link" href="#">Подробнее</a>
      </div>
    </div>
  </li>
  <li class="card-item block">
    <img class="block-bg" src="img/border-bg-sm.png" alt="">
    <div class="card-content">
      <div class="img-container">
        <img class="brash-border-top" src="img/brash-border.png">
        <img class="card-img" src="img/card-img1.jpg" width="360" height="220">
        <img class="brash-border" src="img/brash-border.png">
      </div>
      <div class="card-desc">
        <h3 class="card-header">Магнитик из дерева</h3>
        <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.
        Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.
        </p>
        <a class="prod-link" href="#">Отзывы: 0</a>
      </div>
      <div class="card-button-wrapper">
        <p class="price">256 грн.</p>
        <a class="btn btn-primary" href="">Купить</a>
        <a class="prod-link" href="#">Подробнее</a>
      </div>
    </div>
  </li>
  <li class="card-item block">
    <img class="block-bg" src="img/border-bg-sm.png" alt="">
    <div class="card-content">
      <div class="img-container">
        <img class="brash-border-top" src="img/brash-border.png">
        <img class="card-img" src="img/card-img1.jpg" width="360" height="220">
        <img class="brash-border" src="img/brash-border.png">
      </div>
      <div class="card-desc">
        <h3 class="card-header">Магнитик из дерева</h3>
        <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.
        Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.
        </p>
        <a class="prod-link" href="#">Отзывы: 0</a>
      </div>
      <div class="card-button-wrapper">
        <p class="price">256 грн.</p>
        <a class="btn btn-primary" href="">Купить</a>
        <a class="prod-link" href="#">Подробнее</a>
      </div>
    </div>
  </li>
  <li class="card-item block">
    <img class="block-bg" src="img/border-bg-sm.png" alt="">
    <div class="card-content">
      <div class="img-container">
        <img class="brash-border-top" src="img/brash-border.png">
        <img class="card-img" src="img/card-img1.jpg" width="360" height="220">
        <img class="brash-border" src="img/brash-border.png">
      </div>
      <div class="card-desc">
        <h3 class="card-header">Магнитик из дерева</h3>
        <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.
        Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.
        </p>
        <a class="prod-link" href="#">Отзывы: 0</a>
      </div>
      <div class="card-button-wrapper">
        <p class="price">256 грн.</p>
        <a class="btn btn-primary" href="">Купить</a>
        <a class="prod-link" href="#">Подробнее</a>
      </div>
    </div>
  </li>
  <li class="card-item block">
    <img class="block-bg" src="img/border-bg-sm.png" alt="">
    <div class="card-content">
      <div class="img-container">
        <img class="brash-border-top" src="img/brash-border.png">
        <img class="card-img" src="img/card-img1.jpg" width="360" height="220">
        <img class="brash-border" src="img/brash-border.png">
      </div>
      <div class="card-desc">
        <h3 class="card-header">Магнитик из дерева</h3>
        <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.
        Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.
        </p>
        <a class="prod-link" href="#">Отзывы: 0</a>
      </div>
      <div class="card-button-wrapper">
        <p class="price">256 грн.</p>
        <a class="btn btn-primary" href="">Купить</a>
        <a class="prod-link" href="#">Подробнее</a>
      </div>
    </div>
  </li>
  <li class="card-item block">
    <img class="block-bg" src="img/border-bg-sm.png" alt="">
    <div class="card-content">
      <div class="img-container">
        <img class="brash-border-top" src="img/brash-border.png">
        <img class="card-img" src="img/card-img1.jpg" width="360" height="220">
        <img class="brash-border" src="img/brash-border.png">
      </div>
      <div class="card-desc">
        <h3 class="card-header">Магнитик из дерева</h3>
        <p>Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.
        Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании.
        </p>
        <a class="prod-link" href="#">Отзывы: 0</a>
      </div>
      <div class="card-button-wrapper">
        <p class="price">256 грн.</p>
        <a class="btn btn-primary" href="">Купить</a>
        <a class="prod-link" href="#">Подробнее</a>
      </div>
    </div>
  </li>
</ul>