.card-item.out {
  .card-desc {
    animation: opacityOut .3s forwards;
  }
  .card-header {
    animation: cardHeaderOut .3s forwards;

    &:after {
      display: none;
    }
  }
}
.card-item.in {
  .card-desc {
    animation: opacityIn .3s forwards;
  }
  .card-header {
    animation: cardHeaderIn .3s forwards;

    &:after {
      display: block;
    }
  }
}

@keyframes cardHeaderIn {
  0% {
    width: 98%;
  }
  100% {
    width: 48%;
  }
}
@keyframes cardHeaderOut {
  0% {
    width: 48%;
  }
  100% {
    width: 98%;
  }
}
@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

